*.fasta
*.gfa
*.mmi
*.hdf
*.seq

*~
*.zip
*/datasets
*/ncbi_dataset
*workdir/files
*/checkm_out
*/*.jsonl
*.dmanifest
*.fq
*.fq.gz
*.fastq
*.fastq.gz
*.bam
*.bam.bai
*.bai
*.sam

### BLAST-related files
*.nhr
*.nin
*.not
*.nsq
*.ntf
*.nto
*.ndb

wget-log


read_alignment_dump


*quast_results/latest

### Large files in the PhaME results
*workdir/results/gaps
*workdir/results/miscs
*workdir/results/snps
*workdir/results/stats
*workdir/results/tables
*workdir/results/alignments
*workdir/results/temp

# Ignore BUSCO miniprot output files
*/run_stramenopiles_odb10/miniprot_output/ref.mpi
*/stramenopiles_odb12/*
*busco_downloads/*
ref.mpi

# Kraken database files
k2_standard_08gb_20250402.tar.gz
kraken/database100mers.kmer_distrib
kraken/database150mers.kmer_distrib
kraken/database200mers.kmer_distrib
kraken/database250mers.kmer_distrib
kraken/database300mers.kmer_distrib
kraken/database50mers.kmer_distrib
kraken/database75mers.kmer_distrib
kraken/hash.k2d
kraken/inspect.txt
kraken/k2_standard_08gb_20250402.tar.gz
kraken/ktaxonomy.tsv
kraken/library_report.tsv
kraken/names.dmp
kraken/nodes.dmp
kraken/opts.k2d
kraken/seqid2taxid.map
kraken/taxo.k2d
kraken/unmapped_accessions.txt

