# Ignore lineage and BUSCO downloads
**/busco_downloads/
**/lineages/
**/stramenopiles_odb10/
**/stramenopiles_odb12/

# Common large file types
*.faa
*.fna
*.tar.gz
*.zip
*.gz
*.bz2
*.bam
*.sam
*.hdf5
*.hdf
*.fastq
*.fq
*.fast5
*.seq
*.gfa
*.mmi
*.fasta
*.fai
*.fa
*.zip

# Output or temporary directories
**/run_*/
**/__pycache__/
*.tmp
*.bak

# Exclude everything in .DS_Store (macOS), Thumbs.db (Windows)
.DS_Store
Thumbs.db




*~
*.zip
*/datasets
*/ncbi_dataset
*workdir/files
*/checkm_out
*/*.jsonl
*.dmanifest
*.fq
*.fq.gz
*.fastq
*.fastq.gz
*.bam
*.bam.bai
*.bai
*.sam

### BLAST-related files
*.nhr
*.nin
*.not
*.nsq
*.ntf
*.nto
*.ndb

wget-log


*/read_alignment_dump/*


*/quast_results/latest

### Large files in the PhaME results
*workdir/results/gaps
*workdir/results/miscs
*workdir/results/snps
*workdir/results/stats
*workdir/results/tables
*workdir/results/alignments
*workdir/results/temp

# Ignore BUSCO miniprot output files
*/run_stramenopiles_odb10/miniprot_output/ref.mpi
*/stramenopiles_odb12/*
*busco_downloads/*

ref.mpi

# Kraken database files
k2_standard_*.tar.gz
16S_Greengenes13.5_20200326.tgz
*.kmer_distrib
hash.k2d
inspect.txt
k2_standard_20250402.tar.gz
ktaxonomy.tsv
library_report.tsv
names.dmp
nodes.dmp
opts.k2d
seqid2taxid.map
taxo.k2d
unmapped_accessions.txt


pypolca.vcf
*.fasta.bwt
*.fasta.sa
*.fasta.pac
